#	$OpenBSD: sshd_config,v 1.101 2017/03/14 07:19:07 djm Exp $

# This is the sshd server system-wide configuration file.  See
# sshd_config(5) for more information.

# This sshd was compiled with PATH=/usr/bin:/bin:/usr/sbin:/sbin

# The strategy used for options in the default sshd_config shipped with
# OpenSSH is to specify options with their default value where
# possible, but leave them commented.  Uncommented options override the
# default value.

{% for entry in SshServerPort  %}
Port {{entry}}
{% endfor %}


#AddressFamily any
#ListenAddress 0.0.0.0
#ListenAddress ::
Protocol {{SshProtocol}}

# HostKeys for protocol version 2
{% for entry in SshHostKeys  %}
HostKey {{entry}}
{% endfor %}

# Ciphers and keying
#RekeyLimit default none

# Logging
SyslogFacility {{SshSyslogFacility}}
LogLevel {{SshLogLevel}}

# Authentication:
LoginGraceTime {{SshLoginGraceTime}}
PermitRootLogin {{SshPermitRootLogin}}
StrictModes {{SshStrictModes}}
PubkeyAuthentication {{SshPubkeyAuthentication}}
AuthorizedKeysFile {{SshAuthorizedKeysFile}}

# Don't read the user's ~/.rhosts and ~/.shosts files
IgnoreRhosts {{SshIgnoreRhosts}}
HostbasedAuthentication {{SshHostbasedAuthentication}}
# Uncomment if you don't trust ~/.ssh/known_hosts for RhostsRSAAuthentication
#IgnoreUserKnownHosts yes
# To enable empty passwords, change to yes (NOT RECOMMENDED)
PermitEmptyPasswords {{SshPermitEmptyPasswords}}
PasswordAuthentication {{SshPasswordAuthentication}}

# Change to yes to enable challenge-response passwords (beware issues with
# some PAM modules and threads)
ChallengeResponseAuthentication {{SshChallengeResponseAuthentication}}

# Kerberos options
#KerberosAuthentication no
#KerberosOrLocalPasswd yes
#KerberosTicketCleanup yes
#KerberosGetAFSToken no

# GSSAPI options
#GSSAPIAuthentication no
#GSSAPICleanupCredentials yes
#GSSAPIStrictAcceptorCheck yes
#GSSAPIKeyExchange no

X11Forwarding {{SshX11Forwarding}}
X11DisplayOffset {{SshX11DisplayOffset}}
PrintMotd {{SshPrintMotd}}
PrintLastLog {{SshPrintLastLog}}
TCPKeepAlive {{SshTCPKeepAlive}}

# Allow client to pass locale environment variables
AcceptEnv LANG LC_*

# override default of no subsystems
Subsystem	sftp	/usr/lib/openssh/sftp-server



# Set this to 'yes' to enable PAM authentication, account processing,
# and session processing. If this is enabled, PAM authentication will
# be allowed through the ChallengeResponseAuthentication and
# PasswordAuthentication.  Depending on your PAM configuration,
# PAM authentication via ChallengeResponseAuthentication may bypass
# the setting of "PermitRootLogin without-password".
# If you just want the PAM account and session checks to run without
# PAM authentication, then enable this but set PasswordAuthentication
# and ChallengeResponseAuthentication to 'no'.
UsePAM {{SshUsePAM}}